<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [5]:
import pandas as pd
import os
os.getcwd()
os.listdir('../../data')

['1year.arff',
 'accidental-deaths-in-usa-monthly.csv',
 'ads.csv',
 'ads_hour.csv',
 'adult.data.csv',
 'adult_test.csv',
 'adult_train.csv',
 'agaricus-lepiota.data.txt',
 'bank.csv',
 'bank_train.csv',
 'bank_train_target.csv',
 'beauty.csv',
 'bikes_rent.csv',
 'billdoard_dataset.csv',
 'breast_cancer.csv',
 'candy_production.csv',
 'cars.csv',
 'chronic_kidney_disease.csv',
 'clikstream_data.csv',
 'credit_scoring_sample.csv',
 'credit_scoring_test.csv',
 'credit_scoring_train.csv',
 'currency.csv',
 'dengue_features_test.csv',
 'dengue_features_train.csv',
 'dengue_labels_train.csv',
 'DJIA_table.csv',
 'drugs-and-math.csv',
 'DSL-StrongPasswordData.csv.zip',
 'ehresp_2014.csv',
 'flight_delays_test.csv',
 'flight_delays_train.csv',
 'girls.csv',
 'habr_sample_submission.csv',
 'hmeq.csv',
 'horse.csv',
 'hostel_factors.csv',
 'hour_online.csv',
 'ig_users.csv',
 'LasVegasTripAdvisorReviews-Dataset.csv',
 'medium_posts.csv.zip',
 'microchip_tests.txt',
 'mlbootcamp5_train.csv',
 'mlcourse_open_first_survey_data.csv',
 'mlcourse_open_first_survey_parsed.csv',
 'nba_2013.csv',
 'prolongation_service_test.csv',
 'prolongation_service_train.csv',
 'pubs.json',
 'Rail_Insurance_Claims.csv',
 'responses.csv',
 'scores.csv',
 'site_dic.pkl',
 'spam.csv',
 'spooky_authors.csv',
 'spooky_writer_sample_submission.csv',
 'spooky_writer_test.csv',
 'spooky_writer_train.csv',
 'student-mat.csv',
 'telecom_churn.csv',
 'titanic_test.csv',
 'titanic_train.csv',
 'top10_tags.tsv',
 'tutorial_data.pickle',
 'vgsales.csv',
 'video_games_sales.csv',
 'weights_heights.csv',
 'wiki_machine_learning.csv',
 'winequality-white.csv']

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [6]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [267]:
# You code here
data.loc[data[data.Year==1992][['Sex','Age']].groupby('Sex').idxmin().Age]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
120233,60854,Judit Kiss,F,12.0,171.0,57.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 400 metres Freestyle,NaN
73461,37333,Carlos Bienvenido Front Barrera,M,11.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Coxed Eights,NaN

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [12]:
data.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [57]:
# You code here
data1=data[(data.Year==2012)].copy()

In [75]:
data1[(data1.duplicated(subset=['Name'],keep=False))].groupby('Name')['ID'].apply(set)

Name
 Th Ngn Thng                                       {29843}
Abdullah Waleed Al-Sharbatly                      {109270}
Abiodun Adesola "Abi" Oyepitan                     {90273}
Ada Nabila Romn Arroyo                            {102201}
Adam Ahmed R. Gemili                               {39437}
Adam Thorp Brown                                   {15462}
Adla Skorov-Bruns                                 {117221}
Adrian Ungur                                      {123350}
Afef Ben Ismail                                     {9891}
Agnieszka Roma Radwaska                            {98237}
Ahmet Akdilek                                       {1602}
Ai Fukuhara                                        {37561}
Aida Vladimirovna Shanayeva                       {109215}
Alaaeldin Ahmad El-Sayyid Abouelkassem               {495}
Alan James "Al" Wills                             {130758}
Alana Nicholls                                     {85805}
Albert Idel Bravo Morales                          {14786}
Alberto Busnari                                    {16846}
Alberto Michn Halbinger                            {79374}
Aldemir Gomes da Silva Jnior                       {24742}
Aldo Montano                                       {81456}
Alec Page                                          {90543}
Alejandra Valencia Trujillo                       {123920}
Aleksandr Andreyevich Tikhonov                    {120315}
Aleksandr Georgyevich Tarabrin                    {118557}
Aleksandr Igorevich Shibayev                      {109706}
Aleksandr Nikolayevich Buykevich                   {16992}
Aleksandr Nikolayevich Vinokurov                  {126756}
Aleksandr Sergeyevich Balandin                      {7132}
Aleksandr Shatilov                                {109346}
                                                ...
Zhang Miao                                        {134517}
Zhao Jing                                         {134646}
Zhao Yunlei                                       {134683}
Zheng Jie                                         {134731}
Zhong Man                                         {134781}
Zhou Jiawei                                       {134796}
Zhou Peng                                 {134805, 134806}
Zhou Yu                                           {134829}
Zhou Yubo                                         {134832}
Zhu Jun                                           {134847}
Zhu Qianwei                                       {134852}
Zhu Qinan                                         {134853}
Zoi Mafalda Marques de Lima                        {69926}
Zorana Arunovi                                      {5406}
Zou Kai                                           {135269}
Zsfia Katalin Csonka                               {24138}
Zsuzsanna "Zsu" Jakabos                            {53373}
Zuzana Hejnov                                      {47358}
akir xliyev                                       {111490}
gnes Mutina                                        {83759}
gnes Szvay                                        {117414}
iva Dvorak                                         {31004}
lise Marcotte                                      {74869}
milie Fournel                                      {36518}
milie vesque                                       {33531}
pela Ponomarenko Jani                              {96038}
rad Suleyman Aumova                                 {5724}
sgeir Sigurgeirsson                               {110361}
smail Kele                                         {58485}
va Risztov                                        {101041}
Name: ID, Length: 1666, dtype: object

In [76]:
print(data1.shape)
data1=data1.drop_duplicates(subset=['ID'])
print(data1.shape)
round(((data1.Sport=='Basketball')&(data1.Sex=='M')).sum()/data1[data1.Sex=='M'].shape[0]*100,1)

(12920, 15)
(10517, 15)

2.5

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [78]:
# You code here
data2=data.copy()
data2

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,135555,Micha Zych,M,23.0,177.0,68.0,Poland,POL,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,135557,Dominik ycki,M,34.0,192.0,95.0,Poland,POL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32.0,200.0,89.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271092,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271093,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271094,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271095,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271096,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271097,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
271098,135559,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271104,135564,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0,Russia-1,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Mixed (Men)'s Doubles,NaN
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [89]:
[i for i in data2.Sport.unique() if 'tennis' in i.lower()]

['Tennis', 'Table Tennis']

In [96]:
data2[(data2.Year==2000)&(data2.Sport=='Tennis')&(data2.Sex=='F')].Height.apply(['mean','std']).round(1)

mean    171.8
std       6.5
Name: Height, dtype: float64

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [97]:
# You code here
data3=data[data.Year==2006].copy()

In [104]:
print(data3.Weight.max())
data3.loc[data3.Weight.idxmax()]

127.0

ID                           4476
Name            Patrick R. Antaki
Sex                             M
Age                            41
Height                        185
Weight                        127
Team                      Lebanon
NOC                           LIB
Games                 2006 Winter
Year                         2006
Season                     Winter
City                       Torino
Sport                    Skeleton
Event     Skeleton Men's Skeleton
Medal                         NaN
Name: 8102, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [112]:
# You code here
data.loc[data.Name.str.contains('John Aalberg'),'Year'].nunique()

2

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [116]:
# You code here
data[(data.Year==2008)&(data.Team=='Switzerland')&(data.Medal=='Gold')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
34646,17857,Fabian Cancellara,M,27.0,186.0,81.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Cycling,Cycling Men's Individual Time Trial,Gold
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [257]:
print(data[(data.Year==2016)&(data.Team.str.contains('Italy'))].Medal.count())
print(data[(data.Year==2016)&(data.Team.str.contains('Spain'))].Medal.count())

72
45

In [245]:
# You code here
data4=data[(data.Year==2016)&(data.Team.str.contains('Italy')|data.Team.str.contains('Spain'))].groupby('Team')['Medal'].value_counts()
data4

Team     Medal
Italy    Silver    38
         Bronze    24
         Gold       8
Italy-1  Silver     2
Spain    Silver    19
         Bronze    17
         Gold       7
Spain-2  Gold       2
Name: Medal, dtype: int64

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [217]:
# You code here
data5=data[data.Year==2008].copy()
data5=data5.drop_duplicates(subset=['ID'])

bins = pd.IntervalIndex.from_tuples([(i,i+10) if i<40 else (i,i+11) if 40<i<50 else (i+1,i+11) for i in range(5,65,10)],closed='left')

data5['bins']=pd.cut(data5.Age,bins)
print(data5.bins.value_counts())
ages=data5[data5.bins == data5.bins.cat.categories[5]].Age
print(ages.unique().min(),ages.unique().max())
ages.count()

[25, 35)    5382
[15, 25)    4786
[35, 45)     630
[45, 56)      78
[5, 15)       13
[56, 66)       8
Name: bins, dtype: int64
56.0 61.0

8

In [220]:
data5[data5.bins == data5.bins.cat.categories[5]]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,bins
33885,17461,"Elizabeth A. ""Libby"" Callahan",F,56.0,157.0,64.0,United States,USA,2008 Summer,2008,Summer,Beijing,Shooting,"Shooting Women's Sporting Pistol, 25 metres",NaN,"[56, 66)"
48809,25155,"John Dane, III",M,58.0,191.0,99.0,United States,USA,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN,"[56, 66)"
129868,65378,Afanasijs Kuzmins,M,61.0,178.0,89.0,Latvia,LAT,2008 Summer,2008,Summer,Beijing,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",NaN,"[56, 66)"
130270,65561,Kyra Marie Christine Kyrklund,F,56.0,171.0,70.0,Finland,FIN,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN,"[56, 66)"
137527,69132,Laurie Lever,M,60.0,165.0,72.0,Australia,AUS,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN,"[56, 66)"
159094,79855,Ian Millar,M,61.0,185.0,76.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN,"[56, 66)"
168540,84705,"Susan Marie ""Sue"" Nattrass",F,57.0,176.0,73.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Shooting,Shooting Women's Trap,NaN,"[56, 66)"
264107,132159,Mieko Yagi,F,58.0,160.0,53.0,Japan,JPN,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN,"[56, 66)"

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [231]:
# You code here
if data[(data.City=='Atlanta')&(data.Season=='Summer')].shape[0]:
    print('Yes')
if data[(data.City=='Squaw Valley')&(data.Season=='Winter')].shape[0]:
    print('Yes')
print(data[(data.City=='Atlanta')&(data.Season=='Summer')].Medal.nunique())
print(data[(data.City=='Squaw Valley')&(data.Season=='Winter')].Medal.nunique())

Yes
Yes
3
3

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [262]:
# You code here
abs(data[data.Year==1986].Sport.nunique()-data[data.Year==2002].Sport.nunique())

15

That's it! Now go and do 30 push-ups! :)